---
layout: default
title : Publications
navbar_name: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

<!-- <blockquote>
    Here is a list of my selected peer-reviewed publications. 
</blockquote> -->

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        <!-- 包裹整个年份，加 scroll-margin-top，最后一年加额外 padding-bottom -->
        <div id="year-{{ year.name }}" style="scroll-margin-top:100px;{% if forloop.last %}padding-bottom:40vh;{% endif %}">
            <h2 class="pt-4">{{ year.name }}</h2>
            <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
                {% for item in year.items %}
                    {% include widgets/publication_item.html item=item %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<!-- 确保 ScrollSpy 初始化 -->
<script>
  if (window.jQuery && $.fn.scrollspy) {
    $('body').scrollspy({ target: '#navbar-year', offset: 100 });
  }
</script>

<style>
  html {
    scroll-behavior: smooth; /* 点击时平滑滚动 */
  }
</style>
